<template>
  <Page actionBarHidden="true">
    <FlexboxLayout class="page" backgroundColor="white">
      <StackLayout class="form">
        <Image class="logo" src="~/assets/images/logo.png"></Image>
        <GridLayout rows="auto, auto, auto">
          <ActivityIndicator color="#5ea840" rowspan="3" :busy="true"></ActivityIndicator>
        </GridLayout>
      </StackLayout>
    </FlexboxLayout>
  </Page>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import Home from "./Home";
  import login from "./login";

  export default {
    data() {
      return {
        routed: false,
      }
    },

    computed: {
      ...mapGetters("auth", {
        isLogged: 'isLogged',
      })
    },

    watch: {
      isLogged: function (cur, old) {
        if (cur === false) {
          this.routed = true;
          this.$navigateTo(login, {
            clearHistory: true
          })
        } else if (cur) {
          this.routed = true;
          this.$navigateTo(Home, {
            clearHistory: true
          })
        }
      }
    },

    methods: {
      ...mapActions("auth", {
        login: "login",
        fetch_user: "fetch_user"
      })
    },

    mounted() {
      this.fetch_user()
        .then(resp => { // На iOS этот участок вызывает двойной переход на экран логина
          if (this.isLogged === false && !this.routed) {
            this.routed = true;
            this.$navigateTo(login, {
              clearHistory: true
            })
          }
        })
        .catch(e => {
          alert({
            title: 'Ой!',
            message: e.message,//'Ошибка связи с сервером',
            okButtonText: 'Ok'
          });
          this.$navigateTo(login, {
            clearHistory: true
          })
        });
    },

    created() {

    }
  }
</script>

<style scoped>
  .page {
    align-items: center;
    flex-direction: column;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .logo {
    margin-bottom: 12;
    height: 200;
    font-weight: bold;
  }

  .header {
    background-color: rgb(255, 255, 255);
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #5ea840;
  }

  .button_login {
    background-color: #5ea840;
  }

  .input-field {
    margin-bottom: 25;
  }

  .input {
    font-size: 18;
  }

  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }

  .btn-primary {
    margin: 30 5 15 5;
  }

  .login-label {
    color: #a8a8a8;
    font-size: 16;
  }

  .sign-up-label {
    margin-bottom: 20;
  }

  .bold {
    color: #000000;
  }
</style>
