<template>
  <PageTemplate :section_title="title" active_icon="qrcode">
    <StackLayout paddingTop="5" backgroundColor="#E8E8E8">
      <StackLayout class="postContainer p-10">
        <!--<Label v-if="!!curr_mixin" text="Название:" class="text-center" textWrap="true"></Label>-->
        <Label
          v-if="curr_mixin"
          class="h2 font-weight-bold text-center"
          :text="curr_mixin.nomo.enhavo"
          textWrap="true"
        ></Label>
        <Image v-if="curr_mixin && curr_mixin.bildo" :src="curr_mixin.bildo"></Image>
      </StackLayout>
      <GridLayout columns="auto, auto" backgroundColor="white">
        <FlexboxLayout col="0" justifyContent="center" width="50%">
          <Button
            :isEnabled="!action"
            class="p-3"
            borderRadius="5"
            style="background-color: #b52419; color: #ffffff;"
            text="Отменить"
            @tap="close"
          />
        </FlexboxLayout>
        <FlexboxLayout col="1" justifyContent="center" width="50%">
          <Button
            v-if="elcherpita === false && hasPerm('dokumentoj.drinkejisto') && !action"
            class="p-3"
            key="success"
            borderRadius="5"
            style="background-color: #3da813; color: #ffffff;"
            text="Заварить"
            @tap="forigiResurso"/>
          <Button
            v-else-if="hasPerm('dokumentoj.organiza_administranto') && !action"
            class="p-3"
            key="return"
            borderRadius="5"
            style="background-color: #ecb629; color: #ffffff;"
            text="Вернуть"
            @tap="forigiResurso"/>
        </FlexboxLayout>
      </GridLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  import {mapGetters} from 'vuex';
  import {graphQlUrlize} from "../../config/utils";
  import Home from "../Home";
  import headers from "../../config/auth_data";
  import sale from "../../components/modals/sale";
  import mix_return from "../../components/modals/return";

  export default {
    data() {
      return {
        curr_mixin: null,
        title: "Mixin",
        elcherpita: false,
        action: false,
      };
    },
    props: {
      uuid: {
        type: String,
        required: true
      }
    },

    computed: {
      ...mapGetters('auth', {
        user_perms: 'permissions',
      })
    },

    methods: {
      close() {
        this.$navigateTo(Home, {clearHistory: true});
      },

      hasPerm(perm) {
        return this.user_perms[perm.split('.')[0]].indexOf(perm.split('.')[1]) > -1
      },

      load_mix_data() {
        let apiData = {
          query: `
query($uuid: UUID!) {
  organizojResursoj(uuid: $uuid) {
    edges {
      node {
        resurso {
          bildo
          nomo {
            enhavo
          }
          uuid
        }
        elcherpita
      }
    }
  }
}
              `,
          variables: {uuid: this.uuid}
        };

        return this.$http.get(graphQlUrlize(apiData))
          .then(response => {
            const resp = response.data.data.organizojResursoj;

            if (resp.edges.length) {
              this.curr_mixin = resp.edges[0].node.resurso;
              this.title = this.curr_mixin.nomo.enhavo;
              this.elcherpita = resp.edges[0].node.elcherpita;

              return Promise.resolve()
            }

            alert({
              title: 'Ой!',
              message: 'Микс не найден',
              okButtonText: 'Ok'
            });

            this.$navigateTo(Home, {
              clearHistory: true
            });

            return Promise.reject()
          })
          .catch(e => {
            if (e && e.hasOwnProperty('request')) {
              alert({
                title: 'Ой!',
                message: 'Ошибка связи с сервером',
                okButtonText: 'Ok'
              });
            }

            this.$navigateTo(Home, {
              clearHistory: true
            });

            return Promise.reject(e)
          })
      },

      forigiResurso() {
        const query = {
          query: `
mutation($uuid: UUID!, $resanigi: Boolean) {
  forigiOrganizoResurso(resursoUuid: $uuid, resanigi: $resanigi) {
    status
    message
    organizoResurso {
      uuid
      elcherpita
    }
  }
}
          `,
          variables: {
            uuid: this.uuid,
            resanigi: this.elcherpita || null
          }
        };

        this.action = true;

        return this.$http.post('', query, headers.post)
          .then(response => {
            const resp = response.data.data.forigiOrganizoResurso;

            if (resp.status) {
              if (resp.organizoResurso.elcherpita) {
                this.$showModal(sale)
                  .then(resolve => {
                    this.close()
                  })
              } else {
                this.$showModal(mix_return)
                  .then(resolve => {
                    this.close()
                  });
              }
            } else {
              this.action = false;
              // Вот тут бы ещё вывести уведомление о сбое при списании/восстановлении ресурса
              alert({
                title: 'Ой!',
                message: resp.message,
                okButtonText: 'Ok'
              });
            }

            return Promise.resolve(response)
          })
          .catch(e => {
            if (e && e.hasOwnProperty('request')) {
              alert({
                title: 'Ой!',
                message: 'Ошибка связи с сервером',
                okButtonText: 'Ok'
              });
            }

            this.action = false;
            return Promise.reject(e)
          })
      }
    },
    mounted() {
      this.load_mix_data();
    }
  };
</script>
