<template>
  <PageTemplate @back="back_tap()" android:is_main="false" :section_title="title" active_icon>
    <StackLayout class="p-5 h-full" backgroundColor="#E8E8E8">
      <StackLayout class="postContainer shadow-md p-4 rounded">
        <TextField
          v-if="hasPerm('homoj.shanghi_nomon')"
          class="mb-2 bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          v-model="form_base.unuaNomo"
          :text="form_base.unuaNomo"
          hint="Имя"
        />
        <TextField
          v-if="hasPerm('homoj.shanghi_nomon')"
          class="mb-2 bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          v-model="form_base.familinomo"
          :text="form_base.familinomo"
          hint="Фамилия"
        />
        <TextField
          v-if="hasPerm('homoj.shanghi_nomon')"
          class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
          :text="form_base.duaNomo"
          v-model="form_base.duaNomo"
          hint="Отчество"
        />
      </StackLayout>
      <Button class="my_green text-white" @tap="save_info()">Сохранить</Button>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  import {mapGetters, mapActions} from "vuex";
  import headers from "../../config/auth_data";
  import Home from "../Home";
  import {File, knownFolders, path} from 'tns-core-modules/file-system';
  import {isAndroid, isIOS} from 'tns-core-modules/platform';

  export default {
    data() {
      return {
        form_base: {
          unuaNomo: "",
          familinomo: "",
          duaNomo: ""
        },
      };
    },

    computed: {
      ...mapGetters("auth", {
        user_data: "user_data",
        user_perms: "permissions"
      }),
      title() {
        return "Смена данных профиля";
      }
    },

    methods: {
      ...mapActions("auth", {
        login: "login",
        fetch_user: "fetch_user"
      }),

      hasPerm(perm) {
        return this.user_perms[perm.split('.')[0]].indexOf(perm.split('.')[1]) > -1
      },
      back_tap() {
        this.$navigateBack();
      },

      async save_info() {
        const query = `
mutation($familinomo: String, $unuaNomo: String, $duaNomo: String, $avataro: String,
  $nuna: String, $pas: String, $konf: String, $poshto: String) {
  redaktuHomoProfilo(unuaNomo: $unuaNomo, duaNomo: $duaNomo, familinomo: $familinomo,
  avataro: $avataro, nunaPasvorto: $nuna, pasvorto: $pas, pasvortaKonfirmo: $konf,
  retpowto: $poshto) {
    status
    message
    errors {
      field
      message
    }
  }
}
        `;
        const variables = {...this.form_base};

        const resp = await this.$http.post(
          "",
          {query: query, variables: variables},
          headers.post
        );

        await this.fetch_user();
        this.$navigateBack();
      }
    },
    mounted() {
      this.form_base.unuaNomo = this.user_data.unuaNomo.enhavo;
      this.form_base.familinomo = this.user_data.familinomo.enhavo;
      this.form_base.duaNomo = this.user_data.duaNomo.enhavo;
    }
  };
</script>

<style scoped>
  .icon_user {
    font-size: 100;
  }
</style>
